{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Architecto autem consectetur consequuntur distinctio dolore eius,
    eligendi harum laborum nisi officia pariatur quibusdam repellat reprehenderit sapiente,
    sequi similique tempore. Ducimus, maiores.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at aut autem
    blanditiis corporis debitis dolorem ea,
    eaque eveniet iste magni molestias,
    nihil praesentium, quaerat quam quas recusandae. Cumque, obcaecati.
</p>
{% endblock %}